body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
}

.channel-list {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 10px;
    overflow-y: auto; /* Ensure the list is scrollable if needed */
    max-height: 90vh; /* Prevents the list from being too tall */
}

.channel-list div {
    cursor: pointer;
    padding: 10px;
    border-bottom: 1px solid #444;
    display: block;
}

.channel-list div:hover {
    background-color: #555;
}

#player {
    flex: 1;
    height: 60vh; /* Adjust as needed */
}
